<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API</key>
	<dict>
		<key>cloudflareBase</key>
		<string>https://api.cloudflare.com/client/v4</string>
		<key>digitalOceanBase</key>
		<string>https://api.digitalocean.com/v2</string>
		<key>hetznerBase</key>
		<string>https://api.hetzner.cloud/v1</string>
		<key>akamaiCloudBase</key>
		<string>https://api.linode.com/v4</string>
		<key>vultrBase</key>
		<string>https://api.vultr.com/v2</string>
		<key>dnsimpleBase</key>
		<string>https://api.dnsimple.com/v2</string>
		<key>gandiBase</key>
		<string>https://api.gandi.net/v5</string>
		<key>goDaddyBase</key>
		<string>https://api.godaddy.com</string>
		<key>porkbunBase</key>
		<string>https://api.porkbun.com/api/json/v3</string>
		<key>nameComBase</key>
		<string>https://api.name.com</string>
		<key>spaceshipBase</key>
		<string>https://spaceship.dev/api</string>
		<key>ionosBase</key>
		<string>https://api.hosting.ionos.com/dns</string>
		<key>azureResourceManagerBase</key>
		<string>https://management.azure.com</string>
		<key>azureIdentityBase</key>
		<string>https://login.microsoftonline.com</string>
		<key>route53Base</key>
		<string>https://route53.amazonaws.com</string>
		<key>vercelBase</key>
		<string>https://api.vercel.com</string>
		<key>googleCloudBase</key>
		<string>https://dns.googleapis.com</string>
		<key>googleCloudDomainsBase</key>
		<string>https://domains.googleapis.com</string>
		<key>googleCloudOAuth</key>
		<string>https://oauth2.googleapis.com</string>
		<key>deSECBase</key>
		<string>https://desec.io/api/v1</string>
		<key>scalewayBase</key>
		<string>https://api.scaleway.com/domain/v2beta1</string>
		<key>ibmNS1Base</key>
		<string>https://api.nsone.net/v1</string>
		<key>ultraDNSBase</key>
		<string>https://api.ultradns.com</string>
	</dict>
	<key>Route53</key>
	<dict>
		<key>xmlNamespace</key>
		<string>https://route53.amazonaws.com/doc/2013-04-01/</string>
	</dict>
	<key>OAuth</key>
	<dict>
		<key>googleCloudScope</key>
		<string>https://www.googleapis.com/auth/cloud-platform</string>
	</dict>
	<key>Support</key>
	<dict>
		<key>emailAddress</key>
		<string>support@avgeek.ltd</string>
		<key>website</key>
		<string>https://dnsdeck.app</string>
		<key>mailtoAssistance</key>
		<string>mailto:support@avgeek.ltd?subject=I%20need%20assistance%20with%20DNSDeck</string>
		<key>mailtoFeedback</key>
		<string>mailto:support@avgeek.ltd?subject=I%20have%20some%20feedback%20for%20DNSDeck</string>
	</dict>
	<key>ProviderDocumentation</key>
	<dict>
		<key>cloudflareAPITokens</key>
		<string>https://dash.cloudflare.com/?to=/:account/api-tokens</string>
		<key>digitalOceanAPITokens</key>
		<string>https://cloud.digitalocean.com/account/api/tokens</string>
		<key>hetznerAPITokens</key>
		<string>https://console.hetzner.cloud/</string>
		<key>akamaiCloudAPITokens</key>
		<string>https://cloud.linode.com/profile/tokens</string>
		<key>vultrAPIKeys</key>
		<string>https://my.vultr.com/settings/#settingsapi</string>
		<key>dnsimpleAPITokens</key>
		<string>https://support.dnsimple.com/articles/api-access-token/</string>
		<key>gandiPersonalAccessTokens</key>
		<string>https://admin.gandi.net/organizations/</string>
		<key>goDaddyAPIKeys</key>
		<string>https://developer.godaddy.com/keys</string>
		<key>porkbunAPIKeys</key>
		<string>https://porkbun.com/account/api</string>
		<key>nameComAPITokens</key>
		<string>https://www.name.com/account/settings/api</string>
		<key>spaceshipAPIKeys</key>
		<string>https://www.spaceship.com/application/api-manager/</string>
		<key>ionosAPIKeys</key>
		<string>https://developer.hosting.ionos.com/keys</string>
		<key>azureServicePrincipals</key>
		<string>https://learn.microsoft.com/en-us/cli/azure/azure-cli-sp-tutorial-1</string>
		<key>oracleCloudAPISigningKeys</key>
		<string>https://docs.oracle.com/en-us/iaas/Content/API/Concepts/apisigningkey.htm</string>
		<key>deSECTokens</key>
		<string>https://desec.readthedocs.io/en/latest/auth/tokens.html</string>
		<key>powerDNSHTTPAPI</key>
		<string>https://doc.powerdns.com/authoritative/http-api/</string>
		<key>scalewayAPIKeys</key>
		<string>https://console.scaleway.com/iam/api-keys</string>
		<key>ovhCloudAPIKeys</key>
		<string>https://eu.api.ovh.com/createApp/</string>
		<key>ibmNS1APIKeys</key>
		<string>https://my.nsone.net/#/account/settings/users</string>
		<key>ultraDNSUsers</key>
		<string>https://portal.ultradns.com/</string>
		<key>awsSecurityCredentials</key>
		<string>https://console.aws.amazon.com/iam/home#/security_credentials</string>
		<key>vercelAPITokens</key>
		<string>https://vercel.com/account/tokens</string>
		<key>googleCloudServiceAccounts</key>
		<string>https://console.cloud.google.com/iam-admin/serviceaccounts</string>
	</dict>
</dict>
</plist>
